#Logo{
    width: 100px;
}

#MargenLogo{
    margin-right: 30%;
}

#Navegacion li{
    /* margin-left: 10px; */
}

#Nav{
    
    background-image: url('../Imagenes/Banner.jpg');
    background-size: cover;
}

.icononav{
    width: 35px;
}

.btn-link{
    color: black;
    text-decoration: none;
}

.btn-link:hover{
    color: black;
    text-decoration: none;
}

.btn-link:active{
    color: black;
    text-decoration: none;
}

.btn-link:visited{
    color: black;
    text-decoration: none;
}

#tabla_redes{
    margin-top: 40px;
}

.estado_on{
    width: 20px;
}

.estado_off{
    width: 20px;
}

.terminal{
    width: 20px;
    margin-left: 10px;
}

.iconodetalle{
    width: 20px;
}

#botonnuevared{
    margin-bottom: 20px;
}

#ullista{
    list-style:none;
}

#formred{
    margin-top: 50px;
    margin-left: 40%;
}

.form-control{
    width: 350px !important;
}

.naranja{
    color: orange;
}